/* 
    Document   : create-group
    Created on : Apr 17, 2012, 11:52:11 AM
    Author     : asmaa
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#create-group-step.active
{

}
.active
{
    color: #060;
    font-weight: bold;
}
div.group-type
{
    border: 1px solid #F0F0F0;
    float: left;
    padding: 10px;
    margin: 10px;
    width: 100px;
    border-radius: 5px;
}
.group-type-active
{
    background-color: #F0F0F0;
    
}

div.type-label
{
    text-align: center;
    width: 100px;
    margin: 20px 0px;
}
.selected-group-type
{
    border: 1px solid red;
}
.type-icon
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 .type-radio
 {
     text-align: center;
 }